---
layout: layouts/base.njk
---
    <section class="row upload_media">
        <div class="container">
            <div class="row">
                <h2>Upload Media Files &amp; Share Online</h2>
                <h3>Share your momments online easily</h3>
                
                <form action="#" id="upload_media">
                    <div class="inner row m0">
                        <div class="row m0 plus_ico">+</div>
                        <input type="text" name="file" id="media_up_btn" class="sr-only">
                        <label for="media_up_btn">Upload Media</label>
                    </div>
                </form>
            </div>
        </div>
    </section> <!--Upload Form-->
    
    <section class="row">
        <ul class="nav nav-justified ribbon">
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
        </ul>
    </section> <!--Ribbon-->
    
    <section class="row search_filter">
        <div class="container">
            <div class="row m0">
                <!--Category Filter-->
                <div class="btn-group category_filter fleft">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="filter-option pull-left">All Category</span>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#"><span class="filter_text">All Categories</span><span class="badge"></span></a></li>
                        <li><a href="#"><span class="filter_text">Art</span><span class="badge">1200</span></a></li>
                        <li><a href="#"><span class="filter_text">astrology</span><span class="badge">650</span></a></li>
                        <li><a href="#"><span class="filter_text">biography</span><span class="badge">1200</span></a></li>
                        <li><a href="#"><span class="filter_text">comedy</span><span class="badge">650</span></a></li>
                        <li><a href="#"><span class="filter_text">entertainment</span><span class="badge">1200</span></a></li>
                        <li><a href="#"><span class="filter_text">photoshop</span><span class="badge">650</span></a></li>
                        <li><a href="#"><span class="filter_text">philosophy</span><span class="badge">1200</span></a></li>
                        <li><a href="#"><span class="filter_text">nano tube</span><span class="badge">650</span></a></li>
                    </ul>
                </div>
                <!--Post Type Filter-->
                <div class="btn-group postTypeFilter fleft" data-toggle="buttons">
                    <label class="btn btn-primary postType1 active">
                        <input type="radio" name="postType" id="postType1" checked> All
                    </label>
                    <label class="btn btn-primary postType2">
                        <input type="radio" name="postType" id="postType2" > Videos
                    </label>
                    <label class="btn btn-primary postType3">
                        <input type="radio" name="postType" id="postType3" > Images
                    </label>
                    <label class="btn btn-primary postType4">
                        <input type="radio" name="postType" id="postType4" > Audios
                    </label>
                </div>
                <!--Search Form-->
                <form action="#" role="search" class="search_form fright">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search Here" >
                        <span class="input-group-addon"><button type="submit"><img src="/images/icons/search.png" alt=""></button></span>
                    </div>
                </form>
            </div>
        </div>
    </section>
    
    <section class="row recent_uploads">
        <div class="container">
            <div class="row title_row">
                <h3>recent uploads</h3>
            </div>
            <div class="row media-grid content_video_posts">
                <article class="col-sm-3 video_post postType3">
                    <div class="inner row m0">
                        <a href="single-video.html"><div class="row screencast m0">
                            <img src="http://uxart.io.dimgx.net/Products/video-cafe/images/media/1.jpg" alt="" class="cast img-responsive">
                            <div class="play_btn"></div>
                            <div class="media-length">17:30</div>
                        </div></a>
                        <div class="row m0 post_data">
                            <div class="row m0"><a href="single-video.html" class="post_title">Duis aute irure dolor in adipsicing elit</a></div>
                            <div class="row m0">
                                <div class="fleft author">by <a href="page-author.html">Masum Rana</a></div>
                                <div class="fleft date">3 August, 2015</div>
                            </div>
                        </div>
                        <div class="row m0 taxonomy">
                            <div class="fleft category"><a href="category.html"><img src="/images/icons/cat.png" alt="">Art</a></div>
                            <div class="fright views"><a href="#"><img src="/images/icons/views.png" alt="">3,45,346</a></div>
                        </div>
                    </div>
                </article>
                <article class="col-sm-3 video_post postType4">
                    <div class="inner row m0">
                        <a href="single-video.html"><div class="row screencast m0">
                            <img src="http://uxart.io.dimgx.net/Products/video-cafe/images/media/2.jpg" alt="" class="cast img-responsive">
                            <div class="play_btn"></div>
                            <div class="media-length">17:30</div>
                        </div></a>
                        <div class="row m0 post_data">
                            <div class="row m0"><a href="single-video.html" class="post_title">Duis aute irure dolor in adipsicing elit</a></div>
                            <div class="row m0">
                                <div class="fleft author">by <a href="page-author.html">Masum Rana</a></div>
                                <div class="fleft date">3 August, 2015</div>
                            </div>
                        </div>
                        <div class="row m0 taxonomy">
                            <div class="fleft category"><a href="category.html"><img src="/images/icons/cat.png" alt="">Philosophy</a></div>
                            <div class="fright views"><a href="#"><img src="/images/icons/views.png" alt="">3,45,346</a></div>
                        </div>
                    </div>
                </article>
                <article class="col-sm-3 video_post postType2">
                    <div class="inner row m0">
                        <a href="single-video.html"><div class="row screencast m0">
                            <img src="http://uxart.io.dimgx.net/Products/video-cafe/images/media/3.jpg" alt="" class="cast img-responsive">
                            <div class="play_btn"></div>
                            <div class="media-length">17:30</div>
                        </div></a>
                        <div class="row m0 post_data">
                            <div class="row m0"><a href="single-video.html" class="post_title">Duis aute irure dolor in adipsicing elit</a></div>
                            <div class="row m0">
                                <div class="fleft author">by <a href="page-author.html">Masum Rana</a></div>
                                <div class="fleft date">3 August, 2015</div>
                            </div>
                        </div>
                        <div class="row m0 taxonomy">
                            <div class="fleft category"><a href="category.html"><img src="/images/icons/cat.png" alt="">Comedy</a></div>
                            <div class="fright views"><a href="#"><img src="/images/icons/views.png" alt="">3,45,346</a></div>
                        </div>
                    </div>
                </article>
                <div class="col-sm-3 video_post advertise_betweeen_uploads">
                    <div class="inner row m0">
                        <h3>Advertise<br>Here</h3>
                    </div>
                </div>
                <article class="col-sm-3 video_post postType3">
                    <div class="inner row m0">
                        <a href="single-video.html"><div class="row screencast m0">
                            <img src="http://uxart.io.dimgx.net/Products/video-cafe/images/media/4.jpg" alt="" class="cast img-responsive">
                            <div class="play_btn"></div>
                            <div class="media-length">17:30</div>
                            </div></a>
                        <div class="row m0 post_data">
                            <div class="row m0"><a href="single-video.html" class="post_title">Duis aute irure dolor in adipsicing elit</a></div>
                            <div class="row m0">
                                <div class="fleft author">by <a href="page-author.html">Masum Rana</a></div>
                                <div class="fleft date">3 August, 2015</div>
                            </div>
                        </div>
                        <div class="row m0 taxonomy">
                            <div class="fleft category"><a href="category.html"><img src="/images/icons/cat.png" alt="">Science</a></div>
                            <div class="fright views"><a href="#"><img src="/images/icons/views.png" alt="">3,45,346</a></div>
                        </div>
                    </div>
                </article>
                <article class="col-sm-3 video_post postType4">
                    <div class="inner row m0">
                        <a href="single-video.html"><div class="row screencast m0">
                            <img src="http://uxart.io.dimgx.net/Products/video-cafe/images/media/5.jpg" alt="" class="cast img-responsive">
                            <div class="play_btn"></div>
                            <div class="media-length">17:30</div>
                            </div></a>
                        <div class="row m0 post_data">
                            <div class="row m0"><a href="single-video.html" class="post_title">Duis aute irure dolor in adipsicing elit</a></div>
                            <div class="row m0">
                                <div class="fleft author">by <a href="page-author.html">Masum Rana</a></div>
                                <div class="fleft date">3 August, 2015</div>
                            </div>
                        </div>
                        <div class="row m0 taxonomy">
                            <div class="fleft category"><a href="category.html"><img src="/images/icons/cat.png" alt="">Youtube</a></div>
                            <div class="fright views"><a href="#"><img src="/images/icons/views.png" alt="">3,45,346</a></div>
                        </div>
                    </div>
                </article>
                <article class="col-sm-3 video_post postType2">
                    <div class="inner row m0">
                        <a href="single-video.html"><div class="row screencast m0">
                            <img src="http://uxart.io.dimgx.net/Products/video-cafe/images/media/6.jpg" alt="" class="cast img-responsive">
                            <div class="play_btn"></div>
                            <div class="media-length">17:30</div>
                            </div></a>
                        <div class="row m0 post_data">
                            <div class="row m0"><a href="single-video.html" class="post_title">Duis aute irure dolor in adipsicing elit</a></div>
                            <div class="row m0">
                                <div class="fleft author">by <a href="page-author.html">Masum Rana</a></div>
                                <div class="fleft date">3 August, 2015</div>
                            </div>
                        </div>
                        <div class="row m0 taxonomy">
                            <div class="fleft category"><a href="category.html"><img src="/images/icons/cat.png" alt="">People</a></div>
                            <div class="fright views"><a href="#"><img src="/images/icons/views.png" alt="">3,45,346</a></div>
                        </div>
                    </div>
                </article>
                <article class="col-sm-3 video_post postType3">
                    <div class="inner row m0">
                        <a href="single-video.html"><div class="row screencast m0">
                            <img src="http://uxart.io.dimgx.net/Products/video-cafe/images/media/7.jpg" alt="" class="cast img-responsive">
                            <div class="play_btn"></div>
                            <div class="media-length">17:30</div>
                        </div></a>
                        <div class="row m0 post_data">
                            <div class="row m0"><a href="single-video.html" class="post_title">Duis aute irure dolor in adipsicing elit</a></div>
                            <div class="row m0">
                                <div class="fleft author">by <a href="page-author.html">Masum Rana</a></div>
                                <div class="fleft date">3 August, 2015</div>
                            </div>
                        </div>
                        <div class="row m0 taxonomy">
                            <div class="fleft category"><a href="category.html"><img src="/images/icons/cat.png" alt="">Space Tech</a></div>
                            <div class="fright views"><a href="#"><img src="/images/icons/views.png" alt="">3,45,346</a></div>
                        </div>
                    </div>
                </article>
                <article class="col-sm-3 video_post postType4">
                    <div class="inner row m0">
                        <a href="single-video.html"><div class="row screencast m0">
                            <img src="http://uxart.io.dimgx.net/Products/video-cafe/images/media/8.jpg" alt="" class="cast img-responsive">
                            <div class="play_btn"></div>
                            <div class="media-length">17:30</div>
                        </div></a>
                        <div class="row m0 post_data">
                            <div class="row m0"><a href="single-video.html" class="post_title">Duis aute irure dolor in adipsicing elit</a></div>
                            <div class="row m0">
                                <div class="fleft author">by <a href="page-author.html">Masum Rana</a></div>
                                <div class="fleft date">3 August, 2015</div>
                            </div>
                        </div>
                        <div class="row m0 taxonomy">
                            <div class="fleft category"><a href="category.html"><img src="/images/icons/cat.png" alt="">Nature &amp; Beauty</a></div>
                            <div class="fright views"><a href="#"><img src="/images/icons/views.png" alt="">3,45,346</a></div>
                        </div>
                    </div>
                </article>
                <article class="col-sm-3 video_post postType2">
                    <div class="inner row m0">
                        <a href="single-video.html"><div class="row screencast m0">
                            <img src="http://uxart.io.dimgx.net/Products/video-cafe/images/media/9.jpg" alt="" class="cast img-responsive">
                            <div class="play_btn"></div>
                            <div class="media-length">17:30</div>
                        </div></a>
                        <div class="row m0 post_data">
                            <div class="row m0"><a href="single-video.html" class="post_title">Duis aute irure dolor in adipsicing elit</a></div>
                            <div class="row m0">
                                <div class="fleft author">by <a href="page-author.html">Masum Rana</a></div>
                                <div class="fleft date">3 August, 2015</div>
                            </div>
                        </div>
                        <div class="row m0 taxonomy">
                            <div class="fleft category"><a href="category.html"><img src="/images/icons/cat.png" alt="">Entertainment</a></div>
                            <div class="fright views"><a href="#"><img src="/images/icons/views.png" alt="">3,45,346</a></div>
                        </div>
                    </div>
                </article>
                <article class="col-sm-3 video_post postType3">
                    <div class="inner row m0">
                        <a href="single-video.html"><div class="row screencast m0">
                            <img src="http://uxart.io.dimgx.net/Products/video-cafe/images/media/10.jpg" alt="" class="cast img-responsive">
                            <div class="play_btn"></div>
                            <div class="media-length">17:30</div>
                        </div></a>
                        <div class="row m0 post_data">
                            <div class="row m0"><a href="single-video.html" class="post_title">Duis aute irure dolor in adipsicing elit</a></div>
                            <div class="row m0">
                                <div class="fleft author">by <a href="page-author.html">Masum Rana</a></div>
                                <div class="fleft date">3 August, 2015</div>
                            </div>
                        </div>
                        <div class="row m0 taxonomy">
                            <div class="fleft category"><a href="category.html"><img src="/images/icons/cat.png" alt="">Relationship</a></div>
                            <div class="fright views"><a href="#"><img src="/images/icons/views.png" alt="">3,45,346</a></div>
                        </div>
                    </div>
                </article>
                <article class="col-sm-3 video_post postType4">
                    <div class="inner row m0">
                        <a href="single-video.html"><div class="row screencast m0">
                            <img src="http://uxart.io.dimgx.net/Products/video-cafe/images/media/11.jpg" alt="" class="cast img-responsive">
                            <div class="play_btn"></div>
                            <div class="media-length">17:30</div>
                        </div></a>
                        <div class="row m0 post_data">
                            <div class="row m0"><a href="single-video.html" class="post_title">Duis aute irure dolor in adipsicing elit</a></div>
                            <div class="row m0">
                                <div class="fleft author">by <a href="page-author.html">Masum Rana</a></div>
                                <div class="fleft date">3 August, 2015</div>
                            </div>
                        </div>
                        <div class="row m0 taxonomy">
                            <div class="fleft category"><a href="category.html"><img src="/images/icons/cat.png" alt="">Business</a></div>
                            <div class="fright views"><a href="#"><img src="/images/icons/views.png" alt="">3,45,346</a></div>
                        </div>
                    </div>
                </article>
                <div class="row m0">
                    <div class="clearfix"></div>
                    <a href="inc/more-uploads-1.html" class="load_more_videos">Load more videos</a>
                </div>
            </div>
        </div>
    </section> <!--Recent Upload-->
    
    <section class="row">
        <div class="container">
            <div class="row advertise_row">
                <h3>Advertise Here</h3>
            </div>
        </div>
    </section> <!--Advertise Row-->
    
    <section class="row sidebar sidebar1">
        <div class="container">
            <div class="row">
                <div class="col-sm-3 widget widget1 widget_post_from_blog">
                    <h5 class="widget_title">post from the blog</h5>
                    <div class="row m0 inner">
                        <article class="post_from_blog row m0">
                            <div class="featured_img row m0"><a href="#"><img src="http://uxart.io.dimgx.net/Products/video-cafe/images/blog/widget/1.jpg" alt="" class="img-responsive"></a></div>
                            <div class="the_title row m0"><a href="#">Ut enim ad minim veniam, quis nostrud</a></div>
                        </article>
                        <article class="post_from_blog row m0">
                            <div class="featured_img row m0"><a href="#"><img src="http://uxart.io.dimgx.net/Products/video-cafe/images/blog/widget/2.jpg" alt="" class="img-responsive"></a></div>
                            <div class="the_title row m0"><a href="#">Ut enim ad minim veniam, quis nostrud</a></div>
                        </article>
                    </div>
                </div>
                <div class="col-sm-3 widget widget2 widget_recommended_to_follow">
                    <h5 class="widget_title">recommended to follow</h5>
                    <div class="row m0 inner">
                        <div class="media">
                            <div class="media-left"><a href="page-author.html"><img src="http://uxart.io.dimgx.net/Products/video-cafe/images/follow/1.jpg" alt="" class="circle"></a></div>
                            <div class="media-body media-middle">
                                <a href="page-author.html"><h5>Lisa Zing Lung</h5></a>
                                <div class="btn-group">
                                    <a href="#" class="btn follower_count">34,000</a>
                                    <a href="#" class="btn follow">follow</a>
                                </div>
                            </div>
                        </div>
                        <div class="media">
                            <div class="media-left"><a href="page-author.html"><img src="http://uxart.io.dimgx.net/Products/video-cafe/images/follow/2.jpg" alt="" class="circle"></a></div>
                            <div class="media-body media-middle">
                                <a href="page-author.html"><h5>Lisa Zing Lung</h5></a>
                                <div class="btn-group">
                                    <a href="#" class="btn follower_count">34,000</a>
                                    <a href="#" class="btn follow">follow</a>
                                </div>
                            </div>
                        </div>
                        <div class="media">
                            <div class="media-left"><a href="page-author.html"><img src="http://uxart.io.dimgx.net/Products/video-cafe/images/follow/3.jpg" alt="" class="circle"></a></div>
                            <div class="media-body media-middle">
                                <a href="page-author.html"><h5>Lisa Zing Lung</h5></a>
                                <div class="btn-group">
                                    <a href="#" class="btn follower_count">34,000</a>
                                    <a href="#" class="btn follow">follow</a>
                                </div>
                            </div>
                        </div>
                        <div class="media">
                            <div class="media-left"><a href="page-author.html"><img src="http://uxart.io.dimgx.net/Products/video-cafe/images/follow/4.jpg" alt="" class="circle"></a></div>
                            <div class="media-body media-middle">
                                <a href="page-author.html"><h5>Lisa Zing Lung</h5></a>
                                <div class="btn-group">
                                    <a href="#" class="btn follower_count">34,000</a>
                                    <a href="#" class="btn follow">follow</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 widget widget3 widget_popular_videos">
                    <h5 class="widget_title">popular videos</h5>
                    <div class="row m0 inner">
                        <div class="media">
                            <div class="media-left"><a href="single-video.html"><img src="http://uxart.io.dimgx.net/Products/video-cafe/images/popular/1.jpg" alt=""><span class="duration">17:30</span></a></div>
                            <div class="media-body">
                                <a href="single-video.html">
                                    <h5>Lorem ipsum dolor si amet etur adipis</h5>
                                </a>
                                <div class="row m0 meta_info views">34,000 views</div>
                                <div class="row m0 meta_info posted">1 year ago</div>
                            </div>
                        </div>
                        <div class="media">
                            <div class="media-left"><a href="single-video.html"><img src="http://uxart.io.dimgx.net/Products/video-cafe/images/popular/2.jpg" alt=""><span class="duration">17:30</span></a></div>
                            <div class="media-body">
                                <a href="single-video.html">
                                    <h5>Lorem ipsum dolor si amet etur adipis</h5>
                                </a>
                                <div class="row m0 meta_info views">34,000 views</div>
                                <div class="row m0 meta_info posted">1 year ago</div>
                            </div>
                        </div>
                        <div class="media">
                            <div class="media-left"><a href="single-video.html"><img src="http://uxart.io.dimgx.net/Products/video-cafe/images/popular/3.jpg" alt=""><span class="duration">17:30</span></a></div>
                            <div class="media-body">
                                <a href="single-video.html">
                                    <h5>Lorem ipsum dolor si amet etur adipis</h5>
                                </a>
                                <div class="row m0 meta_info views">34,000 views</div>
                                <div class="row m0 meta_info posted">1 year ago</div>
                            </div>
                        </div>
                        <div class="media">
                            <div class="media-left"><a href="single-video.html"><img src="http://uxart.io.dimgx.net/Products/video-cafe/images/popular/4.jpg" alt=""><span class="duration">17:30</span></a></div>
                            <div class="media-body">
                                <a href="single-video.html">
                                    <h5>Lorem ipsum dolor si amet etur adipis</h5>
                                </a>
                                <div class="row m0 meta_info views">34,000 views</div>
                                <div class="row m0 meta_info posted">1 year ago</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 widget widget4 widget_sponsored_area">
                    <h5 class="widget_title">sponsored area</h5>
                    <div class="row m0 inner">
                        <div class="row m0 advertise_betweeen_uploads">
                            <div class="inner row m0">
                                <h3>Advertise<br>Here</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> <!--Sidebar / Widgets-->
